<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script src="static/app.js" defer></script>
    <title>File Uploader</title>
</head>
<body>
    <h1>Hi! Welcome</h1>
    <h2>You can upload your files here</h2>
    <input type="file" id="file_button">
    <h3 style="display: none;" id="done">File Uploaded Successfully</h3>
</body>
</html>